.descriptionContainer {
    margin: 40px 0 20px;
}

.descriptionContent {
    border: 1px solid #e0e0e0;
}

.description {
    padding: 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #231f20;
}