.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    padding: 16px 0;
    font-size: 12px;
    line-height: 22px;
    color: #231f20;
    letter-spacing: 2.2px;
    text-align: center;
}